@import url("https://fonts.googleapis.com/css2?family=Gabriela&family=Roboto:wght@700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sixing: inherit;
  text-decoration: none;
  list-style: none; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  margin: auto;
  max-width: 140rem; }

.flex {
  display: flex; }

.jc-center {
  justify-content: center; }

.fdir {
  flex-direction: column; }

h1 {
  font-size: 8rem; }

h2 {
  font-size: 2.4rem; }

p {
  font-size: 1.6rem; }

.main {
  font-family: "Gabriela", serif;
  color: #002453; }

.article {
  font-family: "Gabriela", serif;
  color: #002453; }
  .article__title {
    font-size: 2.4rem;
    padding-bottom: 1rem; }
  .article__paragraph {
    font-size: 1.6rem;
    padding-bottom: 2rem; }

.card {
  width: 100%;
  height: 38rem; }
  .card__img {
    background-image: url("../../img/card_one.png");
    background-size: cover;
    border-radius: 20px;
    margin-right: 6rem;
    flex: 1; }
  .card__text {
    flex: 0.75;
    background-image: url("../../img/heart.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    border: 4px solid #002453;
    border-radius: 3%; }
    .card__text .card__description {
      text-align: center;
      padding: 4rem 4rem; }
    .card__text .card__footer {
      text-align: center; }
      .card__text .card__footer .card__author {
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@media only screen and (max-width: 1150px) {
  .card__text {
    padding: 0; }
    .card__text .card__description {
      padding: 2rem 2rem; } }

@media only screen and (max-width: 1150px) {
  .card {
    flex-direction: column;
    height: 80rem; }
    .card__img {
      flex: 1;
      height: 50rem;
      width: auto;
      margin-right: 0;
      margin-bottom: 4rem; }
    .card__text {
      flex: 1; } }

@media only screen and (max-width: 600px) {
  .card__text .card__description {
    font-size: 1.3rem; } }

.header {
  background-color: #002453;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem; }
  .header .nav__list {
    display: flex; }
    .header .nav__list .list__item {
      display: flex;
      align-items: center;
      padding: 1rem 1.5rem; }
      .header .nav__list .list__item .list__icon {
        padding-right: 1rem; }
      .header .nav__list .list__item .list__link {
        font-family: "Roboto", sans-serif;
        color: white;
        font-size: 1.6rem;
        font-weight: bold; }
  .header .icon__container {
    display: flex; }
    .header .icon__container .social {
      display: flex; }
      .header .icon__container .social .facebook {
        padding-left: 2.5rem;
        padding-right: 1.5rem; }
  .header .menu__btn {
    height: 16px;
    width: 20px;
    flex-direction: column;
    justify-content: space-between;
    display: none; }
    .header .menu__btn span {
      height: 3px;
      width: 20px;
      background: white; }

@media only screen and (max-width: 1050px) {
  .header .navigation {
    display: none; }
  .header .menu__btn {
    display: flex; } }

.main {
  padding: 4rem 22rem; }
  .main__title {
    color: #002453;
    text-align: center;
    padding-bottom: 4rem; }

@media only screen and (max-width: 1050px) {
  .main {
    padding: 4rem 16rem; } }

@media only screen and (max-width: 900px) {
  .main {
    padding: 4rem 10rem; } }

@media only screen and (max-width: 700px) {
  .main {
    padding: 4rem 5rem; }
    .main__title {
      font-size: 7rem; } }

@media only screen and (max-width: 450px) {
  .main {
    padding: 4rem 2rem; }
    .main__title {
      font-size: 6rem; } }
