.header {
  background-color: $colors-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;

  .nav__list {
    display: flex;

    .list__item {
      display: flex;
      align-items: center;
      padding: 1rem 1.5rem;

      .list__icon {
        padding-right: 1rem;
      }

      .list__link {
        font-family: $secondary-font;
        color: white;
        font-size: 1.6rem;
        font-weight: bold;
      }
    }
  }
  .icon__container {
    display: flex;

    .social {
      display: flex;

      .facebook {
        padding-left: 2.5rem;
        padding-right: 1.5rem;
      }
    }
  }

  .menu__btn {
    height: 16px;
    width: 20px;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    span {
      height: 3px;
      width: 20px;
      background: white;
    }
  }
}

@media only screen and (max-width: 1050px) {
  .header {
    .navigation {
      display: none;
    }
    .menu__btn {
      display: flex;
    }
  }
}
