.main {
  padding: 4rem 22rem;
  &__title {
    color: $colors-primary;
    text-align: center;
    padding-bottom: 4rem;
  }
}

@media only screen and (max-width: 1050px) {
  .main {
    padding: 4rem 16rem;
  }
}

@media only screen and (max-width: 900px) {
  .main {
    padding: 4rem 10rem;
  }
}

@media only screen and (max-width: 700px) {
  .main {
    padding: 4rem 5rem;
    &__title {
      font-size: 7rem;
    }
  }
}

@media only screen and (max-width: 450px) {
  .main {
    padding: 4rem 2rem;

    &__title {
      font-size: 6rem;
    }
  }
}
