.article {
  font-family: $primary-font;
  color: $colors-primary;
  &__title {
    font-size: 2.4rem;
    padding-bottom: 1rem;
  }
  &__paragraph {
    font-size: 1.6rem;
    padding-bottom: 2rem;
  }
}
