.card {
  width: 100%;
  height: 38rem;

  &__img {
    background-image: url("../../img/card_one.png");
    background-size: cover;
    border-radius: 20px;
    margin-right: 6rem;
    flex: 1;
  }

  &__text {
    flex: 0.75;
    background-image: url("../../img/heart.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    border: 4px solid $colors-primary;
    border-radius: 3%;

    .card__description {
      text-align: center;
      padding: 4rem 4rem;
    }

    .card__footer {
      text-align: center;
      .card__author {
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .card__text {
    padding: 0;
    .card__description {
      padding: 2rem 2rem;
    }
  }
}

@media only screen and (max-width: 1150px) {
  .card {
    flex-direction: column;
    height: 80rem;

    &__img {
      flex: 1;
      height: 50rem;
      width: auto;
      margin-right: 0;
      margin-bottom: 4rem;
    }

    &__text {
      flex: 1;
    }
  }
}

@media only screen and (max-width: 600px) {
  .card__text {
    .card__description {
      font-size: 1.3rem;
    }
  }
}
