*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sixing: inherit;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: auto;
  max-width: 140rem;
}
