@import url("https://fonts.googleapis.com/css2?family=Gabriela&family=Roboto:wght@700&display=swap");

// COLORS
$colors-primary: #002453;

//FONT
$primary-font: "Gabriela", serif;
$secondary-font: "Roboto", sans-serif;
